@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkblue;
    padding: 15px 10px;
    color: hsl(0, 0%, 98%);
    animation: ChangeSize;
}

.top_header {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.top_header > .left_content > .MuiSvgIcon-root {
    padding: 0 10px;
    font-size: 50px;
}

.top_header > .right_content > h4 {
    font-weight: 300;
}

.top_right_logo {
    background-color: white;
    padding: 10px;
    margin: 0 15px;
    border-radius: 10px;
}

.top_right_logo > h4 {
    font-family: 'Inter', sans-serif;
    color: darkblue;
    font-size: 18px;
}

@keyframes ChangeSize {
    0%{
        width: 20%;
    }
    25%{
        width: 40%;
    }
    50%{
        width: 60%;
    }
    75%{
        width: 80%;
    }
    100%{
        width: 100;
    }
}